/* CountryList.css */
 body{
  
    width:100%;
    height: 1024px;
    background: #FAFAFA;
 }
  .navbar {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 1px;
    z-index: 1;
    align-items: center;
    flex-shrink: 0;
    background: #FFF;
    color: #111517;
    font-size: 24px;
    font-weight: 800;
    line-height: normal; 
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06); 
  }
  .navbar p {
    position: absolute;
    top:-5px;
    left: 140px;
  } 

  ul {
     position: absolute;
     left: 1200px;
     top:-5px;
     width: 200px;
   
  }
.moon-image {
   position: absolute;
    top:50px;
    left: 10px;
    top:10px;
} 

.custom-dropdown{
  position: relative;
  width: 200px;
  top: 110px;
  left: 1192px;
  height: 56px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.arrow-icons {
  position: absolute;
  left: 170px;
  top: 15px;
  height: 1px;
  width: 1px;
}
 
.filter {
   position: absolute;
   top: 15px;
   left: 10px;
}

.dropdown-options {
  position: absolute;
  padding-left: 10px;
  top: 58px;
  width: 192px;
  height: 164px;
  line-height: 1.5; 
  border-radius: 5px;
  z-index: 1;
  background: #FFF;
  cursor: pointer;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.grid-container {
  position: relative;
  display: grid;
  top: 150px;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px; 
  grid-column-gap: 1px;
  margin-left: 140px;
  margin-right: 90px;
  cursor: pointer;
  /* background: #FAFAFA; */
}

.grid-item {
  /* border: 1px solid #ccc; */
  width: 264px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
.grid-item hr {
  display: none;
}
.grid-item h3,
.grid-item p {
  padding-left: 50px; /* Adjust the value as per your preference */
}

.flag-image {
  width: 264px;
  height: 160px;
}
/* Add these dark mode styles */
body.dark-mode {
  background-color: #202c37;
  color: #fff;
}

.navbar.dark-mode {
  background-color: #2b3840;
  color: #FFF;
}


.grid-item.dark-mode {
  background-color: #2b3840;
}

.country-text.dark-mode {
  color: #fff;
}


.dark-mode input[type="text"] {
  background-color: #2b3840;
  color: #fff;
}




.dark-mode .custom-dropdown {
  background-color: #2b3840;
  color: #fff;
 
}
.dark-mode .dropdown-options {
  background-color: #2b3840;
  color: #fff;
}

 .search-container {
  position: absolute;
  left: 140px;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #848484;
  top: 130px;
  width: 300px;
  height: 46px;
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  
}



.search-placeholder {
  position: absolute;
  color:#2b3840;
  left: 90px;
  top: 10px; 
  transition: color 0.3s; 
}


.search-icon {
  cursor: pointer;
  margin-right: 10px;
}

.dark-icon {
  filter: brightness(0) invert(1); /* Invert and make the icon white */
}


.dark-placeholder {
  color: white; /* Set the placeholder color for dark mode */
}

.dark-mode .search-container {
  background-color: #2b3840;
  color: #fff;
}

.search-icon {
  padding: 8px;
}
.search-icon img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 15px;
}

.search-input {
  position: absolute;
  left: 80px;
  top:5px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (min-width:320px)and (max-width:480px){
            /* CountryList.css */
 body{
  
  width: 375px;
  height: 3305px;
  background: #FAFAFA;
}
.navbar {
 
  width: 375px;
  height: 80px;
  left: 1px;
}

.navbar p {
  position: absolute;
  width: 137px;
  height: 20px;
  top:15px;
  left: 10px;
 
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
} 

ul {
   position: absolute;
   left: 243px;
   top:19px;
   width: 80px;
   height: 16px;
   font-size: 12px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
             
 
}
.moon-image {
  /* position: absolute; */
 position: absolute;
  top:50px;
  left: 10px;
  top:2px;
  width: 16px;
} 

.custom-dropdown {
position: absolute;
padding: 10px;
border-radius: 5px;
background-color:white;
color: #333;
font-size: 16px;
border: none;
left: 20px;
top: 195px;
width: 195px;
height: 36px;
z-index: 1;
cursor: pointer;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.dropdown-options {

  left: 3px;
  width: 205px;
  height: 164px;
 
}


.filter {
  position: absolute;
  width: 140px;
  top: 15px;
  left: 10px;
}


.grid-container {
  /* position: absolute; */
position: relative;
display: grid;
top: 280px;
left: -13px;
grid-template-columns: 1fr; /* Four equal-width columns */
gap: 50px; /* Add some space between grid items */
grid-column-gap: 1px;
margin-left: 56px;
margin-right: 50px;
/* background: #FAFAFA; */
}

.grid-item {
width: 264px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.grid-item hr {
display: none;
}
/* .grid-item h3,
.grid-item h6 {
padding-left: 50px; 
} */

.capitals {
position: absolute;
 flex: 1;
}

.flag-image {
width: 264px;
height: 160px;
}
/* Add these dark mode styles */
body.dark-mode {
background-color: #202c37;
color: #fff;
}

.navbar.dark-mode {
background-color: #2b3840;
color:white;
}


.grid-item.dark-mode {
background-color: #2b3840;
}

.country-text.dark-mode {
color: #fff;
}


.dark-mode input[type="text"] {
background-color: #2b3840;
color: #fff;
}



.dark-mode select {
background-color: #2b3840;
color: #fff;

}


.search-container {
position: absolute;
left: 20px;
align-items: center;
border: none;
border-radius: 4px;
background-color: #fff;
top: 110px;
width: 300px;
height: 46px;
border-radius: 5px;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

}
.dark-mode .search-container {
background-color: #2b3840;
color: #fff;
}

.search-icon {
padding: 8px;
}
.search-icon img {
position: absolute;
width: 24px;
height: 24px;
left: 40px;
top: 15px;
}

.search-input {

position: absolute;
left: 80px;
top:5px;
padding: 10px;
border: none;
outline: none;
background-color: transparent;
font-size: 16px;
}

}

